@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.wrap {
  overflow:hidden;
}

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul{
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}

.top {
  background-image: url(../img/eyecatch.jpg);
  width:cover;
  height:600px;
  position: relative;   
}

.top1 {
  font-size:40px;
  color:white;
  position: absolute;
  top: 50%;
  left: 10%;
}

.top2 {
  background-color:white;
  width: 700px;
}

.top3 {
  background-color: black;
  color:white;
  
}

.top23 {
  display: flex;
  position:absolute;
  right: 0;
  bottom: 0;
}

.main {
  background-color: black;
  height: 500px;
  position:relativv; 
}

.mi {
  position:relative;
  top:40%;
  left: 20%;
  z-index: 100;
}

.ma {
  color:white;
  font-size:30px;
}

.main2 {
  color:white;
  width: 950px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.link {
  padding: 5px 20px;
  font-size: 14px;
  color:black;
  text-decoration: none;
  border: 1px white solid;
  border-radius: 3px;
  background-color: white;
}
 
.furu {
  position:relative;
  top:10%;
  left:65%;
}

.service {
  background-color:rgb(221, 219, 219);
  height: 1300px;
  margin-top:130px;
}

.title {
  text-align: center;
  padding-top:20px;
  font-size:30px;
}

.web {
  width: 530px;
  height: 130px;
  background-color: white;
  position: relative;
  top:12%;
  left:15%;
  padding: 90px;
  font-size:14px;
  z-index: 150;
}



.webbox {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
  position: relative;
  left: 78%;
  text-align: center;
}

.mission {
  padding-top:20px;
  padding-bottom: 20px;
}

.user {
  line-height: 20px;
  
}

.camera {
 position:relative;
 top:-250px;
 left:710px;
}

.web2 {
  position: relative;
  top:-70px;
  left:300px;
  z-index: 100;
}

.aohi {
  position: relative;
  top:-300px;
  left:-610px;
  z-index: 50;
}

.text-sample {
  width: 550px;
  height: 300px;
  background-color: white;
  font-size: 14px;
  position: absolute;
  top:100px;
  right: 290px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-inner-box {
  width: 80%;
}
.aohi-sample {
  width: 730px;
}
.web2-sample {
  position: relative;
  top:-200px;
  margin-top: 100px;
}

.display {
  display:flex;
  justify-content: space-between;
  margin-top: 100px;
  
}

.company {
  position: relative;
}

.con {
  color:white;
  position:absolute;
  top:80px;
  right: 50%;
}

.recruit {
  position:relative;
}

.re {
  color: white;
  position: absolute;
  top:80px;
  right: 50%;
}

.faq {
  background-color: black;
  background-position: center;
  width: 950px;
  height: 100px;
  color:white;
  display:flex;
  padding:60px 0px 0px 40px;
  margin:200px;
  position: relative;

}

.faq1 {
  font-size:25px; 
}

.q {
  padding-left:370px;
}

.contact {
  color:white;
  position: relative;
  
  /* text-align: center; */
  /* background-color:#ff9; */
  /* height: 0px; */
  
}

.main3 {
  position:absolute;
  top:0px;
  width: 100%;
  text-align: center;
}

.h1 {
  font-size:25px;
  padding-bottom: 10px;
}

.h2 {
  font-size:15px;
  padding-bottom:30px;
}

.h3 {
  font-size:30px;
  font-weight:lighter;
  padding-bottom: 30px;
}

.p {
  font-size:7px;
  padding-bottom:30px;
}

.contactbox {
  width: 100px;
  height: 20px;
  border:1px solid white;
  font-size:10px;
  padding-top: 10px; 
}

.footer {
  display:flex;
  justify-content: space-between;
  padding-top:20px;
}

.footer1 {
  margin-left:40px;
}

ul {
  display:flex;
}

.item {
  list-style: none;
  padding:0px 15px;
}

.menu {
  margin-right:20px;
}

.end {
  text-align: center;
  padding-top: 70px;
}

.all {
  color:white;
  background: black;
  width:100%;
  height:150px; 
  /* position: relative; */

}

